---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.author %}
           • {{ post.author }}
          {% endif %}
          {% if post.meta %}
           • {{ post.meta }}
          {% endif %}
          {%- if post.tags and post.tags.size != 0 -%}
           •
          <span class="post-meta tags">
            {% for tag in post.tags %}
              <a href="{% include tag_url tag=tag %}">#{{ tag }}</a>
            {% endfor %}
          </span>
          {%- endif -%}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        {{ post.excerpt }}

        <a class="btn btn-sm" href="{{ post.url | prepend: site.baseurl }}" role="button">Read more</a>

      </li>
    {% endfor %}
  </ul>

</div>

{% include pagination.html %}
