/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Links
 */
a {
  color: $blue-color-dark;
  text-decoration: none;

  &:visited {
    color: $blue-color-dark;
  }

  &:hover {
    color: $blue-color;
    text-decoration: underline;
  }

  &.btn-primary {
    color: #FFF;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $text-color;
  border-left: 4px solid $blue-color;
  background-color: $bg-color-dark;
  padding: $spacing-unit;
  margin: $spacing-unit 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $blue-color;
  border-radius: 6px;
  background-color: $bg-color-dark;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

/**
 * Tables
 */
 table {
  width: 100%;
  margin-bottom: $spacing-unit / 2;
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid $grey-color-light;
}

tbody tr:nth-child(even) {
  background-color: $blue-color-light;
}

/**
 * Callout
 */

.callout {
  border-left: 6px solid $brand-color;
  background-color: $blue-color-light;
  padding: 1.5em;
  margin: 1.5em 0;
  border-radius: 6px;

  strong {
    color: $brand-color;
    font-weight: bold;
  }
}