/**
 * Layout
 */

body {
  border-top: 5px solid $blue-color-dark;
  border-bottom: 1px solid $blue-color-light;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Site header
 */
 
 .site-header {
  min-height: 56px;

  .site-header-col-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    color: $grey-color;

    .site-title {
      font-size: 26px;
      line-height: 56px;
      letter-spacing: -1px;
      margin-bottom: 0;
      color: $blue-color-dark;
    }

    .site-nav {
      display: flex;
      align-items: center;
      position: relative;
      gap: 8px;

      .menu-button {
        height: 28px;
        width: 28px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 56px;
        cursor: pointer;
        border: 1px solid $blue-color-dark;
        border-radius: 6px;
        
        &:hover {
          background-color: $grey-color-light;
        }
      }

      .vl {
        border-left: 1px solid $blue-color-dark;
        height: 28px;
      }

      .menu-toggle {
        position: relative;

        &:hover .menu-links-wrapper,
        &:focus .menu-links-wrapper,
        &:active .menu-links-wrapper,
        .menu-links-wrapper:focus-within {
          visibility: visible;
          height: auto;
          width: auto;
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
        .menu-links-wrapper:hover {
          visibility: visible;
          height: auto;
          width: auto;
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }

        .menu-links-wrapper {
          visibility: hidden;
          height: 0;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          position: absolute;
          top: 32px;
          right: -8px;
          padding: 4px 0;
          z-index: 1000;

          .menu-links {
            border: 1px solid $blue-color-dark;
            border-radius: 6px;
            background-color: #fff;
            padding: $spacing-unit / 2;
            margin: 0;

            .page-link {
              color: $blue-color-dark;
              line-height: 1.75;
            }
          }
        }
      }
    }
  }
}

/**
 * Site footer
 */

.site-footer {
  margin-top: auto;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: $small-font-size;
  color: $blue-color-dark;
  margin-left: -$spacing-unit / 2;
}

.footer-col {
  padding-left: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1 {
  flex: 0 0 30%;
}

.footer-col-2 {
  flex: 0 0 25%;
}

.footer-col-3 {
  flex: 0 0 45%;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    flex: 0 0 calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    flex: 0 0 calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    flex: 0 0 calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $blue-color-dark;

  .tags a {
    display: inline-block;
    padding: 0px 4px;
    border: 1px solid $grey-color-light;
    margin-right: 2px;
    color: $blue-color;
    text-decoration: none;
    border-radius: 6px;

    &:hover {
      background-color: $grey-color-light;
    }
  }
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
* Pagination
*/

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: $small-font-size;

  li {
    margin-right: 5px;
  }

  a {
    display: block;
    padding: 5px 10px;
    border: 1px solid $grey-color-light;
    color: $blue-color;
    text-decoration: none;
    border-radius: 6px;
  }

  a:hover {
    background-color: $grey-color-light;
  }

  .active a {
    background-color: $button-color;
    color: $background-color;
    border-color: $button-color;
  }

  .disabled a {
    pointer-events: none;
    background-color: $grey-color-light;
  }
}

/**
* Other
*/

.jumbotron {
  border: 1px solid $blue-color-dark;
  border-radius: 6px;
  padding: $spacing-unit $spacing-unit / 2;
  margin-bottom: $spacing-unit;
  background-color: $bg-color-dark;
  text-align: center;

  .not-found-image {
    display: inline-block;
    margin: 0 auto;
    width: 260px;
  }

  ul.nav {
    list-style-type: none;
    li {
      display: inline;
      margin-right: 10px;
    }
  }

  .profile-image {
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    margin: 0 auto;
    margin-bottom: $spacing-unit / 2;
    width: 260px;
    height: 260px;

    img  {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -khtml-border-radius: 50%;
      vertical-align: middle;
  }
}

  h1 {
    font-size: 42px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 9px;
  }

  .social {
    display: inline-block;
    padding-right: 5px;
  }
}

.center-image {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    width: auto;
    height: auto;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: $blue-color-dark;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $grey-color-light;
  color: $blue-color;
  text-decoration: none;
  border-radius: 6px;
  font-size: $small-font-size;

  &:hover {
    background-color: $grey-color-light;
    text-decoration: none;
  }
}

.btn-primary {
  background-color: $button-color;
  color: $background-color;
  border-color: $button-color;

  &:hover {
    background-color: darken($button-color, 10%);
    color: $background-color;
    text-decoration: none;
  }
}

// Tag cloud
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;

  a[data-weight="1"] { --size: 1; }
  a[data-weight="2"] { --size: 2; }
  a[data-weight="3"] { --size: 3; }
  a[data-weight="4"] { --size: 4; }
  a[data-weight="5"] { --size: 5; }
  a[data-weight="6"] { --size: 6; }
  a[data-weight="7"] { --size: 7; }
  a[data-weight="8"] { --size: 8; }
  a[data-weight="9"] { --size: 9; }

  a {
    color: $blue-color-dark;
    text-decoration: none;
    opacity: calc((20 - (9 - var(--size))) / 20); 
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;

    --size: 4;
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
  }

  a::after {
    content: " (" attr(data-count) ")";
    font-size: 1rem;
  }
}

// Search
#search {
  margin: 20px 0;

  #search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  #search-results {
    margin-top: 20px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid $grey-color-dark;
      border-radius: 6px;
      background-color: $bg-color-dark;

      a {
        font-size: $base-font-size;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      span {
        display: flex;
        font-size: $small-font-size;
        color: $blue-color-dark;
      }

      p {
        margin: 5px 0 0;
        font-size: $small-font-size;
      }
    }
  }
}
