/**
 * Syntax highlighting styles
 */

.highlight {
    background: $bg-color-dark;
    @extend %vertical-rhythm;

    .c     { color: darken($grey-color, 10%); font-style: italic } // Comment
    .k     { font-weight: bold; color: darken($brand-color, 10%) } // Keyword
    .o     { font-weight: bold; color: $blue-color-dark } // Operator
    .cm    { color: darken($grey-color, 10%); font-style: italic } // Comment.Multiline
    .cp    { color: darken($grey-color, 20%); font-weight: bold } // Comment.Preproc
    .c1    { color: darken($grey-color, 10%); font-style: italic } // Comment.Single
    .cs    { color: darken($grey-color, 20%); font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: $text-color; background-color: lighten($background-color, 10%) } // Generic.Deleted
    .gd .x { color: $text-color; background-color: lighten($background-color, 5%) } // Generic.Deleted.Specific
    .ge    { font-style: italic; color: $grey-color } // Generic.Emph
    .gr    { color: #663399 } // Generic.Error
    .gh    { color: darken($grey-color, 20%) } // Generic.Heading
    .gi    { color: $text-color; background-color: lighten($background-color, 20%) } // Generic.Inserted
    .gi .x { color: $text-color; background-color: lighten($background-color, 15%) } // Generic.Inserted.Specific
    .go    { color: darken($grey-color, 10%) } // Generic.Output
    .gp    { color: darken($grey-color, 20%) } // Generic.Prompt
    .gs    { font-weight: bold; color: $text-color } // Generic.Strong
    .gu    { color: darken($grey-color, 5%) } // Generic.Subheading
    .gt    { color: #663399 } // Generic.Traceback
    .kc    { font-weight: bold; color: darken($brand-color, 10%) } // Keyword.Constant
    .kd    { font-weight: bold; color: darken($brand-color, 10%) } // Keyword.Declaration
    .kp    { font-weight: bold; color: darken($brand-color, 10%) } // Keyword.Pseudo
    .kr    { font-weight: bold; color: darken($brand-color, 10%) } // Keyword.Reserved
    .kt    { color: $blue-color-dark; font-weight: bold } // Keyword.Type
    .m     { color: #006633 } // Literal.Number
    .s     { color: #339966 } // Literal.String
    .na    { color: $blue-color-dark } // Name.Attribute
    .nb    { color: $brand-color } // Name.Builtin
    .nc    { color: $blue-color-dark; font-weight: bold } // Name.Class
    .no    { color: $blue-color-dark } // Name.Constant
    .ni    { color: $grey-color-dark } // Name.Entity
    .ne    { color: $brand-color; font-weight: bold } // Name.Exception
    .nf    { color: $brand-color; font-weight: bold } // Name.Function
    .nn    { color: $grey-color } // Name.Namespace
    .nt    { color: $blue-color-dark } // Name.Tag
    .nv    { color: $blue-color-dark } // Name.Variable
    .ow    { font-weight: bold; color: $blue-color-dark } // Operator.Word
    .w     { color: darken($grey-color, 5%) } // Text.Whitespace
    .mf    { color: #006633 } // Literal.Number.Float
    .mh    { color: #006633 } // Literal.Number.Hex
    .mi    { color: #006633 } // Literal.Number.Integer
    .mo    { color: #006633 } // Literal.Number.Oct
    .sb    { color: #339966 } // Literal.String.Backtick
    .sc    { color: #339966 } // Literal.String.Char
    .sd    { color: #339966 } // Literal.String.Doc
    .s2    { color: #339966 } // Literal.String.Double
    .se    { color: #339966 } // Literal.String.Escape
    .sh    { color: #339966 } // Literal.String.Heredoc
    .si    { color: #339966 } // Literal.String.Interpol
    .sx    { color: #339966 } // Literal.String.Other
    .sr    { color: $blue-color-dark } // Literal.String.Regex
    .s1    { color: #339966 } // Literal.String.Single
    .ss    { color: darken($grey-color, 20%) } // Literal.String.Symbol
    .bp    { color: darken($grey-color, 10%) } // Name.Builtin.Pseudo
    .vc    { color: $blue-color-dark } // Name.Variable.Class
    .vg    { color: $blue-color-dark } // Name.Variable.Global
    .vi    { color: $blue-color-dark } // Name.Variable.Instance
    .il    { color: #006633 } // Literal.Number.Integer.Long
}
